html {
  box-sizing: border-box;
}
*,
*::before,
* {
  box-sizing: inherit;
}
::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--hover-link);
  border-radius: 2px;
}

:root {
  --background-color: #2e2f42;
  --background-light-color: #f4f4fd;
  --button-color: #4d5ae5;
  --hover-link: #404bbf;
  --border-buttom: #e7e9fc;
  --p_text: #434455;
  --fff: #ffffff;
  --modal-window-input-bc: #fcfcfc;
  --modal-contacts: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
img {
  display: block;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.header {
  border-bottom: 1px solid var(--border-buttom);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div {
  padding: 24px 0px 24px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-div-nav {
  display: flex;
  align-items: center;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--fff);
  color: var(--p_text);
}
.link {
  text-decoration: none;
  display: block;
}
.web-studio-logo {
  display: inline-block;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}
.par {
  max-width: 264px;
}
.web-studio {
  color: var(--background-color);
}
/* Menu1 */
.ul-list-menu {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
}
.menu {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hover-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover,
.menu:focus {
  color: var(--hover-link);
}
.menu-p {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-s {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-c:hover,
.menu-c:focus,
.menu-p:hover,
.menu-p:focus,
.menu-s:hover,
.menu-s:focus {
  color: var(--hover-link);
}
.address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-info {
  color: var(--p_text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-info:hover,
.contacts-info:focus {
  color: var(--hover-link);
}
/* Main */
/* Section 1 */
.main-hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  min-height: 100px;
  background: var(--background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-img/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions {
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  min-height: 100px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--fff);
}
.order-btn {
  margin: 48px auto 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.5;
  color: var(--fff);
  background-color: var(--button-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
  background-color: var(--hover-link);
}
/* //  Section 1 */
/* Section 2 */
.section-features {
  padding: 120px 0;
}
.features-ul-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0px;
}
.features-ul-li {
  width: calc((100% - 72px) / 4);
  list-style-type: none;
}
.features-cards {
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light-color);
}
.main-features {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-parag:hover,
.main-parag:focus {
  transform: translateY(0%);
}
/* //Section 2 */
/* Section 3 */
.actions {
  padding-bottom: 120px;
  background: var(--fff);
}
.main-actions {
  margin-bottom: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
}
.list {
  list-style: none;
}

.ul-actions {
  display: flex;
  padding-left: 0;
  gap: 24px;
  margin-right: 24px;
  margin-right: 0;
}
/* //Section 3 */
/* Section 4 */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--background-light-color);
}
.our-team {
  margin-bottom: 72px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
}
.ul-team {
  display: flex;
  gap: 24px;
  padding-left: 0;
}
.team-items {
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--fff);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.div-team-items {
  padding: 32px 0;
}
.name-and-surname {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.job {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--p_text);
}
/* Social items */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  color: var(--background-light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--hover-link);
}
.socials-icon {
  fill: var(--background-light-color);
}

/* // Social items */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-h2 {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--background-color);
}
.customers-clients {
  display: flex;
  gap: 24px;
}
.customer-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  border-color: var(--hover-link);
  color: var(--hover-link);
}
.logo-ya-co {
  fill: currentColor;
}
.main-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--background-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  margin-right: 120px;
}

.socials-footer {
  display: flex;
  gap: 16px;
}
.socials-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--button-color);
  border-radius: 50%;
  color: var(--background-light-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}
.socials-footer-link:hover,
.socials-footer-link:focus {
  background-color: #31d0aa;
}

.studio-footer {
  color: var(--background-light-color);
}
.footer-p {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-light-color);
}
.footer-social {
}
.soc-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--fff);
}
.web-studio-footer {
  margin: 0;
  margin-bottom: 16px;
}
.subscribe {
  display: flex;
  width: 453px;
  height: 80px;
  gap: 24px;
}
.subscribe-text{
  display: flex;
  font-weight: 500;
  margin-bottom: 16px; 
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--fff);
}
.label-subscribe{
 
}

.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent; 
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--fff);
  padding-left: 16px;
}

.footer-submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px ;
  background: var(--button-color);
  border-radius: 4px;
  padding: 8px 8px 24px 64px;
  margin-left: 24px;
  line-height: 1.5 ;
  color: var(--fff);
  border: none;
}
.svg-send-icon{
  margin-left: 16px;
}
/* Portfolio */
.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-list-filters {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 0;
  margin-bottom: 72px;
  margin-right: 24pxï¼›;
}
.portfolio-list {
  column-gap: 24px;
  padding-left: 0;
  display: flex;
  gap: 24px;
  margin-right: 24px;
  margin-right: 0;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-list-item {
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.partfolio-parag {
  color: var(--p_text);
}
.container-apps {
  padding: 32px 16px;
  border: 1px solid var(--border-buttom);
  border-top: none;
  position: relative;
  overflow: hidden;
}
.all-button {
  border: 1px solid var(--border-buttom);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-color);
  background-color: var(--background-light-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-button:hover,
.all-button:focus {
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--fff);
  background-color: var(--hover-link);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* .portfolio_list_item{

} */

/* Modal Window */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-part-text {
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-light-color);
  position: absolute;
  top: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: var(--button-color);
  /* transform: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-part-text,
.portfolio-link:focus .portfolio-part-text {
  transform: translateY(0);
}

.modal-window {
  padding: 72px 24px 24px 24px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--hover-link);
  border: none;
  fill: var(--fff);
}
.modal-title {
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}
.modal-contacts {
  display: block;
  margin-bottom: 4px;
  color: var(--modal-contacts);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrap{
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-input::placeholder,
.modal-text::placeholder {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
}
.modal-input:focus {
  border: 1px solid var(--button-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--button-color);
}
.modal-input:required {
  border: 1px solid var(--button-color);
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-contacts{
  margin-bottom: 16px;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%; 
  transform: translateY(-50%); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4) ;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-textarea:focus{
  border-color: #4D5AE5;
}
.modal-checkbox{
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.check-text-icon {
  display: inline-flex; 
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.policy-link{
  color: var(--button-color);
  text-decoration: underline;
}
.input-check:checked + .check-text span{
  background-color: var(--hover-link);
  border: none;
  fill: var(--background-light-color);
}
.input-check:focus + .check-text span{
  border-color: var(--hover-link);
 
}
.submit-btn{
  display: block;
  cursor: pointer;
  min-width: 169px;
  height: 56px ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border:none;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  /* padding: 32px 16px; */
  border-radius: 4px;
  background: var(--button-color);
  border:1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border:none;
}
.submit-btn:is(:hover, :focus){
color: var(--hover-link) ;
background-color: transparent;
border-color: var(--button-color);
}
.subscribe-paragraf{
 
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}